<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Sign Up</title>
</head>
<body>
  <h3>Welcome <%= @user.email %>!</h3>
  <p>Click the following link to update your details:</p>
  <%#= link_to 'Update Details', update_user_url(token: @token) %>

  <p>Thank you for our application.</p>
</body>
</html>
